{% load static %}
<!DOCTYPE html>
<html lang = "en">

<head>
	<meta name="description" content="Create an account or log in with Qolom - Line up, just without the hassle. Queue remotely with us and only be there when you're needed. You can also create and manage remote queues for your business or for special occasions, absolutely free. ">
	<meta charset="utf-8">
	<title> Qolom </title>
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.png' %}" >
	<link rel="manifest" href="{% static 'img/site.webmanifest' %}">
	<link rel="mask-icon" href="{% static 'img/safari-pinned-tab.svg' %}" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no ">
	<link rel="stylesheet" type="text/css" href="{% static 'css/surrogate.css' %}">
	{% block head %}{% endblock %}
	
</head>
<body style="background-color: rgb(250,250,250);">
	<style type="text/css">
		.head{
		   font-weight: bold;
		   margin-top: 40px;
		}
		.main_div {
            width: 85%;
        	margin-right: 7.5%;
        	margin-left: 7.5%;
        	font-family: calibri;
		}
		@media only screen and (min-width: 870px) {
        /* For desktop and laptops: */
        .main_div {
        	width: 50%;
        	margin-right: 25%;
        	margin-left: 25%;
        	font-size: 110%;

        }
}
	</style>
	
	<header class="col-12" style="background-color: white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 2px 0 rgba(0, 0, 0, 0.3);height: 100%;padding-bottom: 0px;">

		
        
		<div  style="text-align: center;padding-top: 10px;padding-bottom:10px;font-size:20px;font-weight: bold; color: rgb(148,193,239);">
			<img src="{% static 'img/logo.png' %}" style="height: 20px;margin-bottom: -7px;">
			<br>
		Qolom
	</div>
		
	</header>
<br>
<p style="text-align: center;font-weight: bold;font-size: 20px;color: orange" >PRIVACY POLICY<br></p>
<div class="main_div" >
<p class="head">LAST UPDATED: JANUARY 1ST, 2021.</p>
<p class="head">INTRODUCTION </p>
Qolom offers an online queueing platform that makes it easy for service providers and the general public to create and join lines virtually. 
Qolom is dedicated to serving you and ensuring the security of your information, to enable a hitch free experience. This  Privacy Policy describes the information we process to support our services and is intended to set certain standards across our operations, to enable the achievement of the aforementioned objectives. 

<p class="head">OVERVIEW</p>
The objective of this  Privacy Policy is to explain how we collect, use, disclose and protect your information, including any personal information.  This privacy policy applies to the services provided by Qolom (“we” or “us”).<br>
This policy applies to information we collect when you use our website (and mobile application) (collectively, “Services”) or otherwise interact with us as described below. We aim to handle personal data provided to us in compliance with applicable data privacy and protection laws. <br>
We reserve the right to change, update, modify, amend, adjust and/or add to or subtract from the content of this privacy policy. Notification of such change will be communicated to you primarily by a revision of the "Last Updated" date at the top of this document, and in some cases, we may provide you with additional notice (such as by adding a statement to the homepages of our website or by sending you an email notification).<br>
We advice  you to review the Privacy Policy whenever you interact with us, or periodically so as to stay informed about our information practices and the ways you can help protect your privacy. 
<br>
Use of our website implies consent to the content of this privacy policy.<br>
In the event that further/special permission is required from users, we shall further solicit for consent. 
<br><br>
<b>DISCLAIMER: This Privacy Policy does not apply to services that are not owned or controlled primary by Qolom, including third-party websites or applications (that we may provide links to, or are compatible with) and the Services provided by  other Qolom users. Therefore, this Privacy Policy does not apply to your use of a third party website accessed by selecting a link on our Site or via our Service. To the extent that you access or use the Service through or on another website or application, then the privacy policy of that other website or application will apply to your access or use of that site or application. We implore that our users read the privacy statements of other websites before proceeding to use them. </b>

<br>


<p class="head">THE INFORMATION WE COLLECT</p>

We collect personal and non personal information.
<br><br>
Personal information is information that uniquely identifies a user. To gain full access to our website and services, you must create a Qolom account. When you create an account, we collect personal information (e.g. email address, username, country, etc)  which you provide to us. Due to the nature of the services we provide, personal information is needed to serve unique content to each user.
<br>
<br>We also collect non-personal information such as anonymous usage data, referring or exit pages, browser type, IP addresses and data generated based on submitted data or number of clicks. 

To avoid ambiguity, we will explain some of the data we collect in some detail:
<br><br>
<b>1. Log Data:</b> Log data is anonymous and automatic data collected by our web server about the time a user visits the website, when the website page was requested, the referring or exit page, device information including the hardware model, mobile network information, operating system and version, browser type, the IP address requesting the page, amongst others. 
<br><br>
<b>2. Cookies:</b> Cookies are small text files which can uniquely or anonymous identify users. Considering the purpose of the website, some of the cookies are essential to ensure that the website functions properly as almost every page has to uniquely identify users to show information relevant to the specific user. Therefore a cookie is sent containing a unique random reference to identify you.<br> We also use cookies to prevent malicious activities from attackers. All cookies that we use presently are essential to ensuring optimum consumer satisfaction. As the website develops, we may allow for users to disable non-essential cookies. <br>
We never store sensitive information in cookies.
<br><br>
<b>3. Location Data:</b> Upon getting consent from a user's browser, we may also collect information relating to the location of a user for the sole purpose of improving search results for the particular user. 
<br><br>
<b>4. Profile Data:</b> We also store information such as your profile picture, username, etc provided to us during registration and profile updates. 
<br>



<p class="head">HOW WE USE YOUR DATA</p>

<p class="head">Personal Information </p>

Except as otherwise stated, we do not sell, trade, rent or otherwise share for marketing purposes your Personal Information with third parties without your consent.
<br> 
We may share Personal Information with third parties who are performing services for the Company, such as server providers for email services and other service providers essential for the proper operation of this website. Such information is shared and used in accordance with the guiding principles of our privacy policy, to prevent any breach of your privacy rights. <br>

We share your first name and your unique identification number with businesses and other service providers that you interact with via our platform, to ensure that each individual user is uniquely identifiable to the service providers. This information is essential for the businesses to be able to identify you, therefore enabling them to provide their services seamlessly.<br> 
We may also collect, store, use and transfer non-personal information or anonymized data such as statistical or demographic data.<br>
We do not collect any Special Categories of Personal Information (eg religion, sexual orientation, etc).  If we do decide to collect the said Special Categories of Personal Information, we will ensure compliance with applicable law.<br>
 <br>
Personal information may also be used for communication and other purposes including but not limited to;
<br>
(a) Communicating relevant changes, and updates in our policies<br>
(b) Providing technical support<br>
(c) Requesting and enabling feedback<br>
(d) Addressing illegal, unauthorized, irresponsible or unethical use of our website<br>
(e) Crosschecking with intent to confirm  your identity and the information you provide in line with Qolom’s statutory obligations, using internal and third party tools<br>
(f) Resolving disputes that may arise as a result of  interactions with Qolom, service providers, and other users, as well as a general use of Qolom<br>
(g) Enabling investigations by law enforcement or regulatory bodies. <br>
(h) Using data analytics (to access information)such as User Experience data  to improve our Website,  user experience and to optimize service delivery <br>
(i) Preventing, identifying and containment of risk against illegal activities, through the use internal and third party screening tools<br>
(j) Sending you marketing content, special offers, news letters  and service updates that we think may interest you.  You however reserve the right to unsubscribe at any moment of your choosing.<br>
(k) Other purposes for which we provide specific notice at the time of collection.<br>

The specified  purposes (and others) are to enable us serve you better. 
<br>
In providing you with the aforementioned services, we may rely on third-party servers located in foreign jurisdictions periodically, which may require the transfer or maintenance of your personally identifiable information on computers or servers in foreign jurisdictions. We will strive to ensure that such foreign jurisdictions have data protection legislation that is no less than the existing data protection regulations in force in Nigeria, and that your personally identifiable information is treated in a safe and secure manner. 
<br>
 <p class="head"> Non-Personal Information </p>
Generally, we employ the use of Non-Personal Information to help us improve the Service (and it’s delivery) as well as to customize, personalize and improve user experience. We also aggregate Non-Personal Information in order to track trends and analyze use patterns on the Site. 
<br>
Please note that this Privacy Policy does not limit in any way our use or disclosure of non-Personal Information, and we reserve the right to ethically use and disclose such non-Personal Information to our partners, advertisers and other third parties at our discretion. 
<br>
In the event we undergo a business transaction such as a merger, acquisition by another company, or sale of all or a portion of our assets, your Personal Information may be among the assets transferred. You acknowledge and consent that such transfers may occur and are permitted by this Privacy Policy, and that any acquirer of our assets may continue to process your Personal Information as set forth in this Privacy Policy. 
<br>
<p class="head">HOW WE SECURE YOUR INFORMATION</p> 
We implement security measures designed to protect your information from unauthorized access. Your account is protected primarily by your account password and we implore that you take steps to keep your personal information secure by not disclosing your password to any individual, group, or third party; and by logging out of your account after each use, to prevent your account from being compromised. 
<br>
We further protect your information from potential security breaches by implementing certain technological security measures including encryption, firewalls and secure socket layer technology.
<br>
We limit access to your personal information to employees that have a necessary and integral business reason to know such information (such as database managers and customer support). This is to help us perform essential tasks such as providing consumer assistance, data security or other administrative purposes. 
<br>
Qolom takes reasonable measures to help protect all information about you from loss, unlawful disclosure, alteration, misuse and unauthorized access, and destruction.
<br>
 Additionally, Qolom has put in place policies, security measures and safety mechanism with the central objective of protecting the confidentiality and security of your non public personal information, and prohibiting unlawful disclosure of such information in accordance with said policies. 
<br>
However, these measures do not guarantee that your information will not be accessed, disclosed, altered or destroyed by an unforeseen breach of said security measures. By using our Service, you acknowledge that you understand and agree to assume these risks.
<br>
<p class="head">RESTRICTION ON AGE AND INCOMPETENT PERSONS</p>
We do not knowingly collect data from minors. By using our service, you acknowledge that you are legally competent and have attained  the legal age of majority required to access this service. If you have not met the above requirements, your parent or legal guardian must agree to the contents of this privacy policy. If as a guardian or parent you become aware that your child or ward has violated the above requirement, please contact us using the information provided in this policy. Decisive action will be taken. 
   


<p class="head">FILING A COMPLAINT / CONTACT US</p>

If you have any complaints or questions regarding this Privacy Policy, please contact us at <a href="mailto:support@qolom.com">support@qolom.com</a>. We will answer your questions; and in the event of complaint, investigate and work on resolutions for complaints and disputes regarding use and disclosure of personal information within thirty (30) working days in accordance with this Privacy Policy and in accordance with the Nigerian Data Protection Regulation.



 

<br><br>
Thank you for choosing Qolom.<br>
For more information, contact us at support@qolom.com<br><br><br><br><br><br>
</div>
{% include 'account/footer.html' %}	
</body>
</html>
		