{% load static %}
<!DOCTYPE html>
<html lang = "en">

<head>
	<meta name="description" content="Create an account or log in with Qolom - Line up, just without the hassle. Queue remotely with us and only be there when you're needed. You can also create and manage remote queues for your business or for special occasions, absolutely free. ">
	<meta charset="utf-8">
	<title> Qolom </title>
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.png' %}" >
	<link rel="manifest" href="{% static 'img/site.webmanifest' %}">
	<link rel="mask-icon" href="{% static 'img/safari-pinned-tab.svg' %}" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no ">
	<link rel="stylesheet" type="text/css" href="{% static 'css/surrogate.css' %}">
	{% block head %}{% endblock %}
	
</head>
<body style="background-color: rgb(250,250,250);">
	<style type="text/css">
		.head{
		   font-weight: bold;
		   margin-top: 40px;
		}
		.main_div {
            width: 85%;
        	margin-right: 7.5%;
        	margin-left: 7.5%;
        	font-family: calibri;
		}
		@media only screen and (min-width: 870px) {
        /* For desktop and laptops: */
        .main_div {
        	width: 50%;
        	margin-right: 25%;
        	margin-left: 25%;
        	font-size: 110%;

        }
}
	</style>
	
	<header class="col-12" style="background-color: white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 2px 0 rgba(0, 0, 0, 0.3);height: 100%;padding-bottom: 0px;">

		
        
		<div  style="text-align: center;padding-top: 10px;padding-bottom:10px;font-size:20px;font-weight: bold; color: rgb(148,193,239);">
			<img src="{% static 'img/logo.png' %}" style="height: 20px;margin-bottom: -7px;">
			<br>
		Qolom
	</div>
		
	</header>
<br>
<p style="text-align: center;font-weight: bold;font-size: 20px;color: orange" >TERMS OF USE<br></p>
<div class="main_div" >
<p class="head">LAST UPDATED: JANUARY 1ST, 2021.</p>
<b>Welcome to Qolom.</b>
<br><br>
 The terms, "we", "our", "company", "Qolom" and "us" as used in this Agreement refer to Qolom Ltd. 
<br>
This page contains the terms of use of the website, 
<a href="https://qolom.com">https://qolom.com</a>, ( hereinafter referred to as "the website", "our website" or "this website" ) and the tools ( or "Services" ) we provide you (the user, either personal capacity or otherwise ). These
Terms of Use (or “Terms”) provide information about the services we provide to you
and govern your use of the wbsite, except expressly stated that separate
terms and conditions (and not these) apply. 
<br><br>
<b>Each time you access our website, you agree that you have read and understood these terms of use and agree to be bound by all the terms.</b>
<br><br>
We may amend this agreement at any time by posting the amended terms on our website and updating the "Last Updated" date on our website. We may or may not post notices on the homepage of our Website when such changes occur and you agree to have waived any right of notice of update of these terms. Such amendments will come into effect the moment after it is posted and it would be deemed accepted by your continued usage of the website. <br>
We refer to this Agreement, our Privacy Policy accessible at
<a href="/legal-terms-of-use"> https://qolom.com/legal-terms-of-use </a>, and any other terms, rules, or guidelines on our
Website collectively as our "Legal Terms."<br><br>
You explicitly and implicitly agree to be bound by our Legal Terms each time you access our
Website.

<p class="head">GENERAL REPRESENTATIONS AND WARRANTIES</p>
By using our website, you represent that;<br>
(a) you have legal capacity and you are not a minor according to the laws of the jurisdiction in which you reside<br>
(b) if you are a minor according to the laws of the jurisdiction in which you reside, you have permission of your parents or guardians and you are supervised by them everytime you use this site. You have also ensured that your parents and guardians have read these terms of use and agree to them before using this website.<br>
(c) you will not access this website through non-human or automated means and<br>
(d) you will not use this website for illegal purposes or in contravention with this agreement<br>
(e) all information provided to us during account registration and all profile updates are correct
<br>








<p class="head"> SCOPE OF SERVICE / LIMITED LICENSE</p>

We agree to provide you with our service, subject to conditions including but not
limited to those listed in this document, our privacy and security policies.<br>
We grant you a non-exclusive and revocable license to access and use our Website in
order for you to create or/and join electronic queues, provide or access goods and services
and sell or make purchases of said goods and services through our Website; strictly in
accordance with our Legal Terms. We reserve the right to revoke or suspend license (of individuals
and/or companies if use of the site and its associated elements contravenes our terms, rules,
moral standard and company values.
<p class='head'>COPYRIGHTS AND TRADEMARKS</p>
Unless otherwise noted, all materials including but not limited to logos, brand names, images,
designs, video clips, all software components and other materials
that appear as part of our Website are copyrights, trademarks, service marks, trade dress
and/or other intellectual property whether registered or unregistered ("Intellectual Property")
owned, controlled or licensed by Qolom.<br>
<br>
Our Website as a whole is protected by copyright. Nothing on our Website should be
construed as granting, by implication, estoppel or otherwise, any license or right to use any
Intellectual Property displayed or used on our Website, without the prior permission of the
Intellectual Property owner.<br>
The names and logos of Qolom may not be used in any way, including in advertising or
publicity pertaining to services provided on our Website, without prior express permission
from Qolom.<br>
We prohibits use of any logo of Qolom or any of its affiliates as part of a link to or from
any Website unless said affiliate and/or Qolom approves such link in advance and in writing.
Fair use of Intellectual Property requires proper acknowledgment and as such, we urge users
and the general public to act accordingly as relates the use of Qolom and its associated items
for economic, social, or other gain.<br>
Products, services and company names featured in our Website may be the Intellectual
Property of their respective owners.
<p class="head"> LINKS TO AND BETWEEN PARTIES</p>
By virtue of the nature of service we render, our website may contain links to
companies, groups, services (and service providers), and individuals seeking to render said
services through our medium. We emphasize that such services are NOT owned or primarily
operated by QOLOM and such links are provided for your commercial or recreational use
only. Qolom does NOT control services rendered on the platform as displayed by users and
is not responsible for their content.<br>
Qolom’s inclusion of said goods, services and service providers does not imply an
endorsement of the material on our Website or any
sponsorship, affiliation or association with its owner, operator or sponsor, unless otherwise is expressly disclosed.



<p class="head"> PRODUCTS AND ORDERS </p>
By virtue of the nature of services we render, businesses may upload items for sale, which will be made available to consumers to order. It should however be noted that such items will be subject to availability and we do not by any means guarantee that such items will be available, even after payment. We reserve the right to discontinue any transaction at any time, for any reason provided that a refund will be made if payment has been made, unless otherwise is stated. 
<br><br>
Every order has a PIN made up of 6 (six) random digits and is placed at the top right corner of every order's page. This PIN will be used when receiving the order to verify that the order is being collected by the user who placed the order . It is the therefore the responsibility of the user to keep this PIN secret.
<br><br>
In the event that the pin is compromised due to no fault of ours and order is collected using this pin (by the user or otherwise ), you agree that neither we nor the business will not be held liable for any loss or damages that may arise as a consequence.
<p class="head"> REFUNDS </p>
You may apply for a refund at <a href="mailto:refund@qolom.com" >refund@qolom.com</a> within 24 hours after payment for an order has been made and a refund will be made within reasonable time provided that
your order's status is not "received" and also provided that refund is requested due to any of the following reasons :
 <br>(a) a product is unavailable after purchase. Product's unavailability claim is subject to confirmation by the business.
<br>(b) any other reason if accepted by the business
<br>
"Confirmation" and "acceptance" of refund by the business as used in the preceeding subsections will only be regarded as valid if the business clicks allow refund on the individual order's page and the order's status changes to refund requested

<p class="head">FEES</p>
Use of our website is free.
Purchases made through this website however incur a fee of 2% of the transaction amount for transactions not exceeding N2,500. A fee of 2% of the transaction amount + N100 will be paid for transactions exceeding N2,500.
<br>It should however be noted that a maximum that can ever be paid in fees is N2,500. 
<p class="head">ORDER NOTIFICATION</p>
After an order is placed and the business from which you have ordered has indicated that your order is ready, we will sent you a notification on the app and via email stating that you may pick up your order.
<br>
We expect that the whole process of ordering, from placing the order to pickup, should not take more than 24 hours and in the event that it takes longer than 24 hours, we expect a complaint to be made. If however, up to three(3) days have passed since the order was placed and you still have not been notified that your order is ready, we will only send you a notification via email when the order is ready.

<p class="head">BUSINESSES</p>
This section only applies to users who registered as businesses.<br>
<p class="head"> (a) REPRESENTATIONS AND WARRANTIES</p>
 By creating a business account, you ("the business") hereby represent and warrant that;<br>
 (i) the name used during registration belongs to the business<br>
 (ii) the manner in which your business account is organised can not be reasonably construed to be fraudulent or misleading in the sense that you are trying to portray your business as one which it is not, for purposes including but not limited to inducing other users to believe that they are dealing with another business.

 <br>
 The determination of reasonability in subsection (ii) of this section is entirely at our discretion.
 In the event that any of the representations or warranties provided is false, your account may be suspended temporarily or permanently.

 <p class="head">(b) ORDERS</p>
 A legitimate business may incorporate our ordering services at no extra cost to the business.<br><br>
 A business however owes a duty to us and the customers to regulary update items, especially the number of items available so as to ensure smooth transactions between the business and customers. If a refund has to be made due to a fault of your business, you agree to bear the full cost of the refund.
 <br><br>
 A business which incorporates our ordering services also has a duty to ensure that the key of every order is authenticated before giving out the order. In the event that goods or services are delivered and the key has not been entered, if a customer asks for a refund claiming it was not delivered to him or her, you agree that the refund will be made at the expense of your business.
<br>
 <br>
 As a security measure, an email notifying you of a change of account details will be sent to you in the event that your bank account details are changed and such account will not be able be able to receive funds until after email verification. <br><br>
 In the event that your account details are changed successfully (that is, after email verification) but the new account does not belong to your business and funds are diverted from your business, you agree that we are completely absolved from any form of liability that may arise from such event.<br>  <br>
 <p class="head">(c) FRAUD</p>
 If it is discovered that your account is being used for fraudulent purposes, we reserve the right to hold funds that would otherwise have been transferred to your business and your account will be suspended immediately.<br>

 <br><br>






<p class="head"> NO WARRANTIES; EXCLUSION OF LIABILITY; INDEMNIFICATION</p>
TO THE FULLEST EXTENT PERMITTED BY LAW, WE SPECIFICALLY
DISCLAIMS ALL WARRANTIES AND CONDITIONS OF ANY KIND, INCLUDING BUT NOT LIMITED TO 
ALL IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NONINFRINGEMENT FOR
OUR WEBSITE AND ANY CONTRACTS AND SERVICES YOU PURCHASE OR
RECEIVE THROUGH IT.<br>
QOLOM SHALL NOT HAVE ANY LIABILITY OR RESPONSIBILITY FOR ANY;
 ERRORS OR OMISSIONS MADE BY USERS, SERVICE PROVIDERS AND
CONSUMERS AS REGARDS THE CONTENT OF SERVICE ON OUR WEBSITE,
FOR CONTRACTS OR SERVICES SOLD OR RENDERED THROUGH OUR WEBSITE,
FOR YOUR ACTION OR INACTION IN CONNECTION WITH OUR WEBSITE OR
FOR ANY DAMAGE TO YOUR COMPUTER OR DATA OR ANY OTHER DAMAGE
YOU MAY INCUR IN CONNECTION WITH OUR WEBSITE.
YOUR USE OF OUR WEBSITE AND ANY CONTRACTS OR SERVICES ARE AT
YOUR OWN RISK.<br>
IN NO EVENT SHALL EITHER QOLOM OR THEIR AGENTS BE LIABLE FOR ANY
DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL OR CONSEQUENTIAL
DAMAGES ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF
OUR WEBSITE; CONTRACTS AND SERVICES PURCHASED OR RENDERED
THROUGH OUR WEBSITE, THE DELAY OR INABILITY TO USE OUR WEBSITE OR
OTHERWISE ARISING IN CONNECTION WITH OUR WEBSITE, CONTRACTS OR
RELATED SERVICES, WHETHER BASED ON CONTRACT, TORT, STRICT
LIABILITY OR OTHERWISE.<br>
SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF
INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE EXCLUSION
MAY NOT APPLY IN SUCH JURISDICTIONS.<br>
WITHOUT LIMITING THE FOREGOING, WE DO NOT REPRESENT OR WARRANT
THAT THE INFORMATION PROVIDED BY THIRD PARTIES ON THE WEBSITE IS
ACCURATE, COMPLETE, RELIABLE, USEFUL, TIMELY OR CURRENT OR THAT
OUR WEBSITE WILL OPERATE WITHOUT INTERRUPTION OR ERROR.<br>
QOLOM MAKES NO REPRESENTATION THAT CONTENT PROVIDED ON OUR
WEBSITE, OR RELATED SERVICES ARE APPLICABLE OR APPROPRIATE FOR USE
IN ALL JURISDICTIONS.
<p class="head"> INDEMNIFICATION</p>
You agree to defend, indemnify and hold Qolom harmless from and against any and all
claims, damages, costs and expenses, including attorneys' fees, arising from or related to your
use of our Website or any Contracts (promised or performed ) or Services you purchase
through it.<br><br>
Thank you for choosing Qolom.<br><br>
For more information, contact us at support@qolom.com<br><br><br><br><br><br><br><br><br><br><br><br>
</div>
{% include 'account/footer.html' %}	
</body>
</html>
		