{% extends 'account/base.html' %}

{% block content %}
{% load static %}

<article> 

<br>

{% if not sent %}
<h1 class="sec_head" ><img src="{% static 'img/logo.png' %}" style="" ></h1>
<p style="color: orange;font-weight: bold;text-align: center;font-size: 130%;"> Forgot Password </p>
<form action="{% url 'account:forgot_password' %}" method="POST" class="content" style="">
{{ reset_form }}
{% csrf_token %}
<button type="submit" style="background-color:rgb(148,193,239);color: white;font-size: 100%;font-weight: bold;" class="linestyle" >Reset</button>
      
</form>


<br>
<a href="{% url 'login' %}" ><div style="text-align: center;">Log-in</div></a>
<p style="text-align:center; ">

Don't have an account? <a href="{% url "account:user_signup" %}" style="font-weight: bold" >Sign up</a>
</p>
<p style="text-align:center;font-weight: bold;color: grey; " >Or</p>
<p style="text-align: center;font-weight: bold"><a href="{% url "account:business_signup" %}" >Register a business</a></p>


{% else %}
<div class="menubuttons content" style="color: black;font-weight: normal;">
	<h1 class="sec_head" ><img src="{% static 'img/logo.png' %}" style="" ><br>Qolom</h1>
<p style="text-align:center;font-weight: bold ">
A reset link has been sent to your e-mail <span style="color: orange"> {{mail|truncatechars:3}}@{{ext}}</span><br>
Click the link to continue
<br>
<p style="width: 80%;margin-left: 10%;margin-right: 10%;"><span style="color: orange">Couldn't find the email?</span><br><br> Please verify that e-mail is not in your spam folder. If the e-mail can still not be found after about 5 minutes, please
 <u><a href="{% url 'account:forgot_password' %}" style="color: orange">retry resetting your password</a></u>.</p>
</p>
<br>
<a href="{% url 'login' %}?u=u" ><div style="text-align: center;">Log-in</div></a>
<p style="text-align:center; ">

Don't have an account? <a href="{% url "account:user_signup" %}" style="font-weight: bold" >Sign up</a>
</p>
<p style="text-align:center;font-weight: bold;color: grey; " >Or</p>
<p style="text-align: center;font-weight: bold"><a href="{% url "account:business_signup" %}" >Register a business</a></p>
</div>
<br><br><br>
{% endif %}



</article>

{% endblock %}
