{% extends 'account/base.html' %}
{% load static %}
{% block content %}

<style type="text/css">
	body{
		background-color: rgb(250,250,250);
	}
</style>
<article> 
		<h1 class="sec_head" ><img src="{% static 'img/logo.png' %}" ><br>Qolom</h1>


<p style="color: orange;font-weight: bold;text-align: center;font-size: 130%"> Change Password </p>
<form method="POST" action="." class='content'>
  {{new_passwordForm }}
  {% csrf_token %}
  <p><button type="submit" style="background-color:rgb(148,193,239);color: white;font-size: 100%;font-weight: bold;" class="linestyle" >Submit</button>
      </p>
</form>
<br><br>
<a href="{% url 'login' %}?u=u" ><div style="text-align: center;">Log-in</div></a>
<p style="text-align:center; ">

Don't have an account? <a href="{% url "account:user_signup" %}" style="font-weight: bold" >Sign up</a>
</p>
<p style="text-align:center;font-weight: bold;color: grey; " >Or</p>
<p style="text-align: center;font-weight: bold"><a href="{% url "account:business_signup" %}" >Register a business</a></p>
</article>
{% endblock %}
