{% extends 'users/base.html' %}
{% block content %}
<style type="text/css">
	body{
		background-color: white;
	}
	
</style>
<div class="menubuttons" style="border-radius: 20px;text-align: unset;font-weight: normal;border-color: lightgrey">
	<h2 class="searchstyle edit_head" style="color: orange">Change Password</h2>
<form action="{% url "users:change_password" %}" method="POST">
          {{ password_form.as_p }}
          {% csrf_token %}
        <p>
        <button type="submit" style="font-size: 100%;font-weight: bold;border-color:  white;background-color: orange; color: white;" class="linestyle edit_submit" >
              Submit
          </button>
      </p>
</form>
</div>
{% endblock %}