{% extends 'business/base.html' %}
{% block content %}
<div class="menubuttons" style="border-radius: 15px;text-align: unset;font-weight: normal;color: black;border-color: rgb(148,193,239);">  
<p>
	  <h2 class="searchstyle edit_head" style="border-color: white">Change Password</h2>
<form action="{% url "business:change_password" %}" method="POST">
          {{ password_form.as_p }}
          {% csrf_token %}
        <button type="submit" class="linestyle edit_submit" >
              Submit
          </button>
</form>
</p>
</div>
{% endblock %}