{% load static %}
<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset="utf-8">
	<title > Qolom </title>
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'img/site.webmanifest' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
	<link rel="mask-icon" href="{% static 'img/safari-pinned-tab.svg' %}" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.png' %}" >
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no ">
	<link rel="stylesheet" type="text/css" href="{% static 'css/surrogate.css' %}">
	{% block head %}{% endblock %}
	
</head>
<!-- background-image: url('{% static 'img/queue.jpg' %}'); -->
<body style="">
	<style type="text/css">
		#search_for {
			border-style: solid;
			border-width: 1px;
			border-color: orange;
			padding-left: 10px;
			border-radius: 20px
		}
		
		.button{
			background-color: orange
		}
		body{
			background-color: rgb(100,100,100);
			background-image: url('{% static 'img/sherlock.jpg' %}');
			background-size: cover;
			background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
		}
	</style>
	<div id="no_js">
	{% if not form %}
	<style type="text/css">
		.company_name{
			padding-top: 5px;
		}
		#myBtn{
			margin-top: 12px;
		}
		header{
			height: 50px
		}
		

	</style>
	{% endif %}


		

	<header class="col-12" style="border-style:none;border-color: rgb(148,193,239);border-width: 1px;height: 100%;padding-bottom: 0px;padding-top: 5px;background-color: white;box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);" id="the_header"> 

<a name="top" style="display: block;"><!---display block to make margin bottom work--->
                
				<span id="myBtn" style="background-color: inherit;color:orange"><i class="fas fa-bars"></i></span>
        
		<div class="company_name">
<a href="{% url 'users:user_homepage' %}">
			<img src="{% static 'img/logo.png' %}" style="height: 25px;margin-bottom: 7px;margin-top: 8px" >
			
</a>
		</div>
	
		
		
		
		</a>
		
	</header> 
 
	
	
	
<!-- The Modal -->
<div id="myModal" class="modal" >
	
<span class="close" >&times;</span>
  <!-- Modal content -->
  <div class="modal-content" id="content_id">
    
    <p>
    	    <span style="color: orange" >
    	     Hello, {{request.user.first_name|title}}
    	     <hr style="background-color: grey;height: 0px;display: block;"><br>
    	    </span>
{% if form %}
		<form method="GET" action="{% url 'users:user_homepage' %}" style="margin-bottom: 2px;height:100%;">
			{{ form }}
			
			
			<input type="image" src="{% static 'img/searchico.png' %}" class="searchicon" style="margin-left: -35px;margin-bottom: -6px;background-color: transparent;">
		</form>
{% else %}
<form method="GET" action="{% url 'users:user_homepage' %}" style="margin-bottom: 2px;height:100%;">
			{{ perma_form }}
			
			
			<input type="image" src="{% static 'img/searchico.png' %}" class="searchicon" style="margin-left: -35px;margin-bottom: -6px;background-color: transparent;">
		</form>
{% endif %}
<br>
    	    <a href="{% url "users:user_homepage" %}" class="hyperlink" >
			   <button class="modalbutton"> <span style="float:left;">Home</span>   <span style="float: right;"> &raquo;</span>
			   </button>
			</a>


			<a href="{% url "users:key" %}" class="hyperlink" > 
		 				<button class="modalbutton" ><span style="float:left;">Key Search</span>
		 				<span style="float: right;"> &raquo;</span>
		 			    </button>
		 			</a>


    	    {% if special_line %}


             <a href="{% url "users:special_detailview" %}" class="hyperlink" > 
		 				<button class="modalbutton" ><span style="float:left;color: orange">
		 				{% filter title|truncatechars:30 %}
		 				{{special_line.name}}
		 				{% endfilter %}
		 				</span>
		 				<span style="float: right;"> &raquo;</span>
		 			    </button>
		 			</a>

             <a href="{% url "users:edit_line" %}" class="hyperlink" > 
		 				<button class="modalbutton" ><span style="float:left;color: orange">Edit Line</span>
		 				<span style="float: right;"> &raquo;</span>
		 			    </button>
		 			</a>



              
             

             {% endif %}

    	    


			<a href="{% url "users:favourites" %}" class="hyperlink" > 
		 				<button class="modalbutton" ><span style="float:left;">Favourites</span>
		 				<span style="float: right;"> &raquo;</span>
		 			    </button>
		 			</a>


                 {% if not special_line %}


		 	<a href="{% url "users:create_line" %}" class="hyperlink" > 
		 				<button class="modalbutton" ><span style="float:left;">Create Line</span>
		 				<span style="float: right;"> &raquo;</span>
		 			    </button>
		 			</a>

             

		 	{% endif %}


         <!--           <a href="{% url 'users:orders_list' %}" class="hyperlink" > 
		 				<button class="modalbutton" ><span style="float:left;">Orders</span>
		 				<span style="float: right;"> &raquo;</span>
		 			    </button>
		 			</a>
 -->
		 			{% if card_info %}

          <!--           <a href="{% url "users:manage_cards" %}" class="hyperlink" > 
		 				<button class="modalbutton" ><span style="float:left;">Manage Cards</span>
		 				<span style="float: right;"> &raquo;</span>
		 			    </button>
		 			</a>
 -->
		 			{% endif %}





		 			<a href="{% url "users:user_edit" %}" class="hyperlink" > 
		 				<button class="modalbutton" ><span style="float:left;">Edit Profile</span>
		 				<span style="float: right;"> &raquo;</span>
		 			    </button>
		 			</a>



			<a href="{% url "users:change_password" %}" class="hyperlink" > <button class="modalbutton"><span style="float: left">Change Password</span>
			<span style="float: right;"> &raquo;</span>
		   </button>
		    </a>



			<a href="mailto:support@qolom.com" class="hyperlink">
			 <button class="modalbutton"><span style="float: left;">Contact us</span>
			 <span style="float: right;"> &raquo;</span>
			</button>
			</a>


			<a href="{% url "logout" %}" class="hyperlink" > 
				<button class="modalbutton"><span style="float: left;">Log out</span>  
				<span style="float: right;"> &raquo;</span>
			</button>
			</a>
			
		</p>
  </div>

</div>
<div style="color: red;font-size: 110%;box-shadow: none;border-style:none;height: 100%;display:  none;background-color: transparent;" id="network_error" class="linestyle">
      <div class="loader" style="float: left;margin-left:29%"></div>&nbsp;&nbsp; waiting for network
   <br>
   </div>
   {% if not homepage %}
   {% if order_ready_exists %}
   {% if more_than_one %}
   <!-- <a href="{% url 'users:orders_list' %}" id="order_href">
   	<input type="hidden" id="order_sent_value_holder" value="0"> 
  <div class="content success " style="color: white;height: 100%;padding: 10px;margin-top: 10px; text-align: center;box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);" id="order_sent">Your orders are ready
  </div>
  </a> -->
   {% else %}
   <!-- <a href="{% url 'users:order'  first_order_url %}" id="order_href">
   	<input type="hidden" id="order_sent_value_holder" value="0"> 
  <div class="content success " style="color: white;height: 100%;padding: 10px;margin-top: 10px; text-align: center;box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);" id="order_sent">Your order is ready
  </div>
  </a> -->
   {% endif %}
   
  {% else %}
  <!-- <a href="#" id="order_href">
   	<input type="hidden" id="order_sent_value_holder" value="0">
  <div class="content success " style="color: white;height: 100%;padding: 10px;margin-top: 10px; text-align: center;box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);display: none;" id="order_sent">
  </div>
  </a> -->
  {% endif %}

{% if messages %}

  <div class="content {% for message in messages %}{{ message.tags }} {% endfor %} " style="color: white;height: 100%;padding: 10px;margin-top: 10px; text-align: center;box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);" >
  	
  
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  
  </div>
  {% endif %}
  {% endif %}
{% block content %}{% endblock %}


{% include 'account/modal.html' %}
{% include 'account/footer.html' %}
<!-- footer is added twice because of payment page and no_js -->

</div>
<div id="footer_maybe" style="display: none;">
{% include 'account/footer.html' %}
</div>
{% include 'account/nojs.html' %}
{% include 'users/order_status_script.html' %}

</body>
</html>