{% extends 'account/base.html' %}


{% load static %}
{% block content %}
<style type="text/css">
	.forms{
		margin-bottom: 10px;
	}
	body{
		background-color: rgb(250,250,250)
	}
	.success{
      background-color: rgb(30,196,6);
      border-color: rgb(30,196,6);
	}
	.error{
      background-color: orange;
      border-color: orange;
	}
</style>
<article> 
	


		<h1 class="sec_head" ><img src="{% static 'img/logo.png' %}" style="" >
			<!-- <br>Qolom -->
		</h1>


			<form action="{% url 'login' %}" method="POST" class="content" >
				{% if messages %}
	
	<div class="linestyle {% for message in messages %}{{ message.tags }} {% endfor %} " style="color: white;height: 100%;padding: 10px;text-align: center;box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);">
  
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  
  </div>
  {% endif %}

  
			{% if error %}{{error}}{% endif %}
			{{ form.as_p }}
			{% csrf_token %}
			<p><button type="submit" style="background-color:rgb(148,193,239);color: white;font-size: 100%;font-weight: bold;" class="linestyle" >Sign in</button>
			</p>
			
           </form>
           <br>


<a href="{% url 'account:forgot_password' %}" style="color: orange"><div style="text-align: center;">Forgot password?</div></a>
<p style="text-align:center; ">

Don't have an account? <a href="{% url "account:UserProfile" %}" style="font-weight: bold" >Sign up</a>
</p>
<p style="text-align:center;font-weight: bold;color: grey; " >Or</p>
<p style="text-align: center;font-weight: bold"><a href="{% url "account:BusinessProfile" %}" >Register a business</a></p>
</article>
<br><br><br>
 {% endblock %}

